body {
    font-family: Arial, sans-serif;
    background-color: #244bcf;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.App {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #0a84ff; /* Set the link color */
    text-decoration: none; /* Remove underline */
}

a:visited {
    color: #0a84ff; /* Prevent color change after the link is clicked */
}
