.dock {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    padding: 12px 24px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
}

.dock-item img {
    width: 50px;
    height: 50px;
    transition: transform 0.1s ease;
    cursor: pointer;
    filter: invert(95%);
    transform: translateY(2px);
}
