.dock {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    padding: 12px 24px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
    z-index: 1000;
}

.dock-item img {
    width: 50px;
    height: 50px;
    transition: transform 0.1s ease;
    cursor: pointer;
    user-select: none; /* Prevent selection */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
